*{
    margin: 0 auto;
    padding: 0 auto;
}

body{
    background-color: aliceblue;
}
.pagina{
    display: flex;
    background-color: lightgray;
    margin: 100px auto;
    padding: 10px;
    align-items: center;
    text-align: justify;
    border: 2px solid black;
    width: 800px;
    flex-wrap: wrap;
}

.pagina input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagina button{
    margin-top: 10px;
    margin-bottom: 10px;
}